:root {
  --secondary-light: hsl(172, 67%, 45%);
  --primary-dark: hsl(183, 100%, 15%);
  --dark-grayish-cyan-1: hsl(186, 14%, 43%);
  --dark-grayish-cyan-2: hsl(184, 14%, 56%);
  --light-grayish-cyan-1: hsl(185, 41%, 84%);
  --light-grayish-cyan-2: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  --hover: #61918a;
  --hover-active: #9fe8df;
  --error: crimson;
  --disabled: #0d686d;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-grayish-cyan-1);
}

@media screen and (max-width: 1100px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 900px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 840px) {
  html {
    font-size: 13px;
  }
}
@media screen and (max-width: 780px) {
  html {
    font-size: 16px;
  }
  .calculator {
    width: 80%;
    height: min-content;

    display: flex;
    flex-direction: column;
  }

  .panel {
    padding: 0 0 2.25rem;
    height: 26rem;
  }

  label,
  #tipCustom {
    width: 100%;
  }

  .results-cont {
    height: min-content;
  }

  .results-cont .results {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 680px) {
  .total p {
    font-size: 2rem;
  }
}

@media screen and (max-width: 560px) {
  .App-header {
    padding: 3.25rem 0 2.5rem;
  }

  .calculator {
    width: 100%;
    margin-bottom: 0;
    border-radius: 1rem 1rem 0 0;
  }

  .panel {
    padding: 0 0.5rem 2.25rem;
    height: 29.75rem;
  }
}

@media screen and (max-width: 420px) {
  .calculator {
    padding: 2rem 1.5rem;
  }
  .results-cont {
    padding: 1.5rem;
  }
}
